* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
#bakgrunnsbilde {
    height: 100%;
}

#bakgrunnsbilde {
    background-image: url("https://i.pinimg.com/originals/d2/e4/33/d2e433a119194661db9909a4162bcd36.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



/*Her kommer styling for nav-baren*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e5e5e5;
    height: 70px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-liste {
    position: relative;
}

.nav-liste h3 {
    color: #22577a;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nav-liste a {
    text-decoration: none;
    color: black;
}

.nav-liste a:hover {
    transform: scale(1.1);
    transition: transform 0.3 ease;
    text-shadow: 0.1px 0.5px 1px;
}

#navbar>.nav-liste {
    display: flex;
    flex-direction: row;
    padding: 40px;
}


/*Her avsluttes styling for nav-baren*/

/*her kommer styling for header/overskrift*/

header {
    margin-top: 70px;
}

header .overskrift {
    padding-top: 100px;
    text-align: center;
}

header h1 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #bee9e8;
    text-shadow: 2px 2px 2px blue;
}

/*avsluttning av styling for overskrift*/


/*her kommer styling for main*/
main .fire-bokser {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    margin-top: 150px;
    margin-left: 25%;




}

.fire-bokser .boksene {
    display: grid;
    align-items: center;
    position: relative;
    border-radius: 8px;
    padding: 50px;
    margin: 30px;
    background-color: hsl(250, 3%, 97%);
    height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 60%;
    text-align: center;
}

/* NÅr man hover boksen, skal divtekst forsvinne*/
.boksene:hover .divtekst {
    opacity: 0;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.divtekst {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #f28482;
}

.boksene:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    background-color: #FF87AB;
}

/* Beskrivelsesdiv plassert i midten */
main .boksene-beskrivelse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.7s ease-out;
}


.boksene:hover .boksene-beskrivelse {
    opacity: 1;

    transition: opacity .7s ease-out;
    -moz-transition: opacity .7s ease-out;
    -webkit-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;
}

.boksene-beskrivelse .hover-tekst {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 24px;
}

.boksene-beskrivelse .tekst {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
}

.boksene-beskrivelse .gammel {
    transform: translateY(0);
}

.boksene-beskrivelse .ny {
    transform: translateY(100%);
}

.boksene:hover .gammel {
    transform: translateY(-100%);
}

.boksene:hover .ny {
    transform: translateY(0);
}

.tekst {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(250, 3%, 97%);
    font-size: 20px;
}

/* her starter styling for huskeliste */
main .huskeliste {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 0;
    
    background-color: hsl(250, 3%, 97%);
    margin-top: 150px;
    height: 200px;
    padding-top: 50px;
    padding-left: 50px;
    text-align: center;

}

.huskeliste-tekst h3 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #bee9e8;
    text-shadow: 2px 2px 2px blue;
}

.huskeliste-ikon i {
    font-size: 30px;
    color: #8b8c89;
}

#kopiert-melding{
    display: none;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #bee9e8;
    text-shadow: 2px 2px 2px blue;
    margin-top: 10px;
    font-size: 20px;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/* huskeliste styling avsluttes her */


/*Countdown styling*/

main .countdown {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .countdown-innhold {
   padding: 100px;
    box-shadow:10px 10px 10px #000;
    -webkit-box-shadow:10px 10px 10px #000;
    -moz-box-shadow: 10px 10px 10px #000;
    
}

main .countdown-innhold-tekst{
    display: grid;
    gap: 15px;
}

.countdown-innhold-tekst h3 {
    font-size: 30px;
    color: hsl(250, 3%, 97%);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    
}

.countdown-innhold-tekst p {
    font-size: 20px;
    color: hsl(250, 3%, 97%);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


main .countdown-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 20px;
margin-top: 20px;
}

.countdown-container div {
    color: hsl(250, 3%, 97%);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.countdown-container span {
    font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: hsl(250, 3%, 97%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Her starter styling om container*/
footer .container {
    background-color: azure;
    height: 50vh;

}

footer .avslutning {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-left: 20px;
    padding: 20px;
}

.avslutning .soMe {
    display: flex;
    flex-direction: column;
}
.avslutning a {
    color: #22577a;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-top: 15px;
    
}

.avslutning-boks #overskrift1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f28482;
    font-size: 30px;
    margin-bottom: 15px;

}
.avslutning-boks p {
    color: #22577a;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
 #overskrift {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #bee9e8;
    text-shadow: 2px 2px 2px blue;
    font-size: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/*Her avsluttes styling om container*/